/* Animaties */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes slide {
    0%  {
        left: -200px;
    }

    100%    {
        left: 0px;
    }

}

.slider {
    animation: slide;
}



/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(234, 255, 253);
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(41, 41, 41);
    text-align: center;
    background-image: url('afbeeldingen/dollllaaar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 15px;

}


.blijeman {
    float: right;
    width: 40%;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(153, 0, 0);
    text-decoration: none;
}

#hoofdtitel {
    font-family:cursive;
    font-weight:bold;
}

a:hover {
    text-decoration: underline;
}

.links {
    color: blue;
    font-family: cursive;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #9cebff;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #858dff;
}

nav li a.active {
    background-color: rgb(2, 12, 158);
}




